{% extends 'base.html' %}
{% block content %}
<body>
    
    <h1 align="center">Login</h1>
    <div class="container">
    <form action="" method="post">
         {% csrf_token %}
         <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">UserName</label>
              <input type="Name" class="form-control" name="username" aria-describedby="emailHelp" Required>
              <div id="" class="form-text"></div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" Required>
            </div>
          
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        <a class="nav-link active" href="{% url 'register' %}">Create an account </a>
    </form>
    </div>
    {% for msg in messages %}
    <h3>{{msg}}</h3>
    {% endfor %}
{% endblock %}